<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Main Listeners">
    <listeners>
        <listener class-name="core.listeners.TestListener"/>
        <listener class-name="core.listeners.Transformer"/>
    </listeners>

    <test name="TestNG Sample Test">
        <classes>
            <class name="SimpleTest"/>
        </classes>
    </test>
</suite>